@keyframes marquee-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes marquee-right {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-marquee-left {
    animation: marquee-left 35s linear infinite;
  }
  
  .animate-marquee-right {
    animation: marquee-right 35s linear infinite;
  }
  