.message-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Set a fixed width */
  overflow: hidden;
  position: relative;
}

.message-slider-content {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 100%; /* Ensure the content fills the fixed width */
}

.message-slider-content.fade-out {
  opacity: 0;
}

.slider-arrow {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
  color: #333;
}

.left-arrow {
  position: absolute;
  left: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
}
